<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AppiumAndroidApp"> 

  <listeners>

	<!-- WEB DRIVER -->
	<listener class-name="code.BaseTest">
		<parameter name="url" value="http://127.0.0.1:4723/wd/hub" />
		<parameter name="platformName" value="Android" />
		<parameter name="platformVersion" value="9" />
		<parameter name="deviceName" value="emulator-5554" />
		<parameter name="automationName" value="UiAutomator2" />
		<parameter name="noReset" value="false" />
		<parameter name="appPath" value="/Users/neiger/Desktop/workspace/qamad.apk" />
	</listener>

  </listeners>




    <test name="Automation of cases">  
        <parameter name="usr" value="neiger.serrano@avantica.net.cr"/>
        <parameter name="pwd" value="123456"/>
        <parameter name="fName" value="First Name"/>
        <parameter name="lName" value="Last Name"/>        
        <parameter name="error" value="User with " />
        <parameter name="error2" value=" as email does not exist or the password is invalid" />
        
        
        <classes>
           	<class name="tests.StartUpPageTests" >
           	    <methods>
            		<exclude name="ValidateStartUpPage" />
            	</methods>
            </class> 
            	
            <class name="tests.SignInPageTests" >
           	    <methods>
            		<include name="ClickSignInBtn" />
            	</methods>             	          
            </class>
            
            <class name="tests.SignUpPageTests" >
           	    <methods>
            		<exclude name="ClickSignUpBtn" />
            	</methods>             	          
            </class> 
             
        </classes>
    </test>
</suite>
